# Python / Virtualenv
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Django
db.sqlite3
backend/staticfiles/
backend/media/
staticfiles/
media/

# Environment configurations
.env
backend/.env
frontend/.env
*.local

# Node / Frontend Build
node_modules/
frontend/node_modules/
build/
frontend/build/
dist/
frontend/dist/

# macOS / System
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log